// Place all the styles related to the pags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.full_logo {
  position: relative;
  left: 0;
  top: 0;
}

.tool {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  transition: transform .7s ease-in-out;

  &:hover {
    transform: rotate(10deg);
  }
}

.background {
  position: relative;
  top: 0;
  left: 0;
  width: 70%;
}

.background1 {
  position: relative;
  top: 0;
  left: 0;
  width: 70%;
}

.tool1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  transition: transform .7s ease-in-out;

  &:hover {
    transform: rotate(10deg);
  }
}
